<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you like
-->
<div id="shortcut">
  <ul>
    <li>
      <a href="@Url.Action("Index", "Manage")" class="jarvismetro-tile big-cubes  bg-color-pinkDark">
        <span class="iconbox">
          <i class="fa fa-user fa-4x"></i> <span>My Account </span>
        </span>
      </a>
    </li>
    <li>
      <a href="@Url.Action("Index", "LocationProfile")" class="jarvismetro-tile big-cubes  bg-color-greenDark">
        <span class="iconbox">
          <i class="fa fa-building fa-4x"></i> <span>Active Locations</span>
        </span>
      </a>
    </li>
  </ul>
</div>
<!-- END SHORTCUT AREA -->